.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

form {
  display: flex;

  align-items: center;
  justify-content: center;

}

main {
  width: 100%;
  display: flex;
  justify-content: center;


}

.grid-movies {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  list-style: none;

}

.movie-card {
  text-align: center;

}

.movie-card p,
.movie-card h3 {
  margin: 0;

}